<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".FrpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FRP Client"
        android:theme="@style/Theme.FrpClient"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FrpService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>
</manifest>
